<footer class="footer" style="padding-top: 5%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Próximos servicios:</h2>
            </div>
        </div>
        <div class="row" style="padding-top: 4%;">
            <div class="col-md-8">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Martes</th>
                            <th scope="col">Viernes</th>
                            <th scope="col">Sábados</th>
                            <th scope="col">Domingos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>7:30 p. m.</td>
                            <td>7:30 p. m.</td>
                            <td>7:30 p. m.</td>
                            <td>12:30 p. m.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div style="padding-left: 20%; padding-top: 15%;">

                    {% if settings.site_settings.SocialMediaSettings.facebook %}
                    <a href="{{ settings.site_settings.SocialMediaSettings.facebook }}">
                        <i class="fab fa-facebook-square fa-3x" style="padding-left: 10%;"></i>
                    </a>
                    {% endif %}
                    {% if settings.site_settings.SocialMediaSettings.twitter %}
                    <a href="{{ settings.site_settings.SocialMediaSettings.twitter }}" <i
                        class="fab fa-twitter-square fa-3x" style="padding-left: 10%;"></i>
                    </a>
                    {% endif %}
                    {% if settings.site_settings.SocialMediaSettings.youtube %}
                    <a href="{{ settings.site_settings.SocialMediaSettings.youtube }}">
                        <i class="fab fa-youtube fa-3x" style="padding-left: 10%;"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: rgb(202, 202, 202);">
        <div class="container">
    <div class="row">
        <p>8400 S Hoover St, Los Ángeles, CA 90044 | (323) 789-1665</p>
    </div>
</div>
</div>
</footer>