{% extends 'base.html' %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}Ministerios Elim - Inicio{% endblock title %}

{% block content %}

<h1>{{ page.title }}</h1>


{% for block in page.content %}
{% include_block block %}
{% endfor %}







<!-- {% if page.link_page_doctrina_basica %}
{% image page.link_page_doctrina_basica.specific.level_image max-481x487 as level_image %}
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ level_image.url }}" class="" alt="..." width="" height="50%">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ page.link_page_doctrina_basica.title }}</h5>
        <p class="card-text">{{ page.link_page_doctrina_basica.body }}</p>
        <a href="{{ page.link_page_doctrina_basica.url }}" class="btn btn-primary">Ver más</a>
        <p class="card-text"><small class="text-muted">Última actualización: {{ page.link_page_doctrina_basica.latest_published_date }}</small>
        </p>
      </div>
    </div>
  </div>
  {% endif %} -->

  {% if page.link_page_doctrina_basica %}
  <div class="card mt-10">
    <h5 class="card-header">{{ page.link_page_doctrina_basica.title }}</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">{{ page.link_page_doctrina_basica.body }}</p>
      <a href="{{ page.link_page_doctrina_basica.url }}" class="btn btn-primary">Ver más</a>
    </div>
  </div>
  {% endif %}
  {% if page.link_page_doctrina_intermedia %}
  <div class="card mt-10">
    <h5 class="card-header">{{ page.link_page_doctrina_intermedia.title }}</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">{{ page.link_page_doctrina_intermedia.body }}</p>
      <a href="{{ page.link_page_doctrina_intermedia.url }}" class="btn btn-primary">Ver más</a>
    </div>
  </div>
  {% endif %}
  {% if page.link_page_doctrina_avanzada %}
  <div class="card mt-10">
    <h5 class="card-header">{{ page.link_page_doctrina_avanzada.title }}</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">{{ page.link_page_doctrina_avanzada.body }}</p>
      <a href="{{ page.link_page_doctrina_avanzada.url }}" class="btn btn-primary">Ver más</a>
    </div>
  </div>
  {% endif %}







{% endblock content %}