{% extends 'base.html' %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}Ministerios Elim - Inicio{% endblock title %}

{% block content %}

<h1>{{ self.title }}</h1>


{% for block in page.content %}
{% include_block block %}
{% endfor %}


<div class="card-deck">
  {% if page.link_page_doctrina_basica %}
  {% image page.link_page_doctrina_basica.specific.level_image max-287x100 as level_image %}
  <div class="card">
    <img src="{{ level_image.url }}" class="" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ page.link_page_doctrina_basica.title }}</h5>
      <p class="card-text">{{ page.link_page_doctrina_basica.body }}</p>
      <a href="{{ self.link_page_doctrina_basica.url }}" class="btn btn-primary">Ver más</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Última actualización: {{ iglesia.last_published_at }}</small>
    </div>
  </div>
  {% endif %}
  {% if self.link_page_doctrina_intermedia %}
  {% image self.link_page_doctrina_intermedia.specific.level_image max-100x100 as level_image %}
  <div class="card">
    <img src="{{ level_image.url }}" class="" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ self.link_page_doctrina_intermedia.title }}</h5>
      <p class="card-text">{{ self.link_page_doctrina_intermedia.body }}</p>
      <a href="{{ self.link_page_doctrina_intermedia.url }}" class="btn btn-primary">Ver más</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  {% endif %}
  {% if self.link_page_doctrina_avanzada %}
  {% image self.link_page_doctrina_avanzada.specific.level_image max-100x100 as level_image %}
  <div class="card">
    <img src="{{ level_image.url }}" class="" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ self.link_page_doctrina_avanzada.title }}</h5>
      <p class="card-text">{{ self.link_page_doctrina_avanzada.body }}</p>
      <a href="{{ self.link_page_doctrina_avanzada.url }}" class="btn btn-primary">Ver más</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  {% endif %}
</div>









{% endblock content %}