{% extends 'base_home.html' %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}Ministerios Elim - Inicio{% endblock title %}

{% block content %}

<div id="header"><!-- flex container -->

  <div class="box" style="margin-left: 0%;"><!-- flex item -->
    <div class="title">
      <div>ELIM</div>
      <div>ONLINE</div>
    </div>
  </div>

  <div class="box green_strips" ><!-- flex item -->
    <div style="background-color: black; padding: 0.001em">
    <p style="color: white; margin-top: 1.2em; margin-bottom: 0em;">EXPANDIENDO
      <span class="yellowgreen">LA PALABRA DE DIOS</span></p>
      <p style="color: white; margin-top: 0em;">POR TODO EL <span class="yellowgreen">MUNDO</span></p>
    </div>  
  </div>

</div>

<div class="container">
<div class="row" style="padding-top: 3%;">
  <div class="col-md-8">
    <div id="comp-iq9y0o3iiFrameHolder" class="htco1iFrameHolder embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" name="htmlComp-iframe" scrolling="no"
        src="https://www-ministerioselimlosangeles-net.filesusr.com/html/c6c2ba_7e10543906cc3e0dfef547110eb63f30.html">
      </iframe>
    </div>
  </div>

  <div class="col-md-4" id="LocalSide">

    <h1>PROGRAMACIÓN EN VIVO</h1>
    <p>Martes, viernes y sábados: 7:30 p.m. PDT</p>
    <p>Domingos: 12:30 p.m. PDT</p>
    <p>Escoge tu Conexión Preferida</p>

  </div>
</div>




</div>

<div class="row ofrendas_y_diezmo_contenedor">
  <div class="box">
  <span class="ofrendas_y_diezmos"> Diezmar y ofrendar</span><br>
  <div class="en_linea_y_desde_tu_movil_contenedor">
  <span class="en_linea_y_desde_tu_movil">Ahora lo puedes hacer en línea y desde tu móvil.</span>
  </div>
</div>
<div class="box">
  <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-0lax{text-align:left;vertical-align:top}
    </style>
    <table class="tg">
    <thead>
      <tr>
        <a href="https://secure.subsplash.com/ui/access/876ZZX/" class="btn btn-primary btn-lg btn-block" target="_blank">Paypal</a>
      </tr>
    </thead>
    <tbody>
      <tr>
        <a href="https://secure.subsplash.com/ui/access/876ZZX/" class="btn btn-dark btn-lg btn-block" target="_blank">SUBSPLASH</a>
      </tr>
      <tr>
        <button type="button" class="btn btn-info btn-lg btn-block">Usando Zelle $ al 323-490-9435</button>
          </td>
      </tr>
    </tbody>
    </table>
</div>
</div>


{% endblock %}