{% extends "base.html" %}

{% load wagtailimages_tags %}

{% load static %}

{% block content %}

<div class="container">

  <h1 class="mb-5">{{ page.title }}</h1>

  <h2 class="mb-5">{{ page.pastor }}</h2>

  <p class="mb-5">{{ page.address }}</p>

  <p class="mb-5">{{ page.address_reference }}</p>

  <p class="mb-5">{{ page.phone }}</p>

  <p class="mb-5">{{ page.email }}</p>

  <!-- <a href="{{ page.pastor.user.profile.photo.url }}">
    <img src="{{ page.pastor.user.profile.photo.url }}" class="mr-3" alt="">
  </a> -->

  <ul class="list-unstyled">
    {% for evento in iglesia_eventos %}
    <li class="media">
      {% image evento.evento_image fill-150x150 as evento_img %}
      <a href="{{ evento.url }}">
        <img src="{{ evento_img.url }}" class="mr-3" alt="{{ evento_img.alt }}">
      </a>
      <div class="media-body">
        <a href="{{ evento.url }}">
          <h5 class="mt-0 mb-1">{{ evento.title }}</h5>
        </a>
      </div>
    </li>
    <hr class="mt-4">
    {% endfor %}
  </ul>

  <a href="http://maps.google.com/?q={{ page.formatted_address }}">Open map (Formatted Address)</a>
  <a href="http://maps.google.com/?q={{ page.latlng_address }}">Open map (Lat/Long Address)</a>

  <br>
  
  <h1> {{ WAGTAIL_ADDRESS_MAP_KEY }}</h1>

  <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key={{ WAGTAIL_ADDRESS_MAP_KEY }}&q={{ page.formatted_address }}" allowfullscreen>
</iframe>
</div>

{% endblock content %}