{% extends "base.html" %}

{% load wagtailimages_tags %}

{% load static %}

{% block content %}

<div class="container mb-5">

  <h1 class="mb-5 mt-10">{{ page.title }}</h1>

  <div class="row mt-10 mb-5">

    <div class="col-md-6">

      <p class="mb-3">Pastor: {{ pastor.user.first_name }} {{ pastor.user.last_name }}</p>

      <p class="mb-3">Dirección: {{ page.address }}</p>

      <p class="mb-3">Referencia: {{ page.address_reference }}</p>

      <p class="mb-3">Teléfono: {{ page.phone }}</p>

      <p class="mb-3">Correo: {{ page.email }}</p>
    </div>
    <div class="col-md-6">

      {% image page.church_image max-420x420 as church_image %}
      <img src="{{ church_image.url }}" class="mx-auto" alt="...">
    </div>

  </div>


  <h3 class="mt-10">Mapa:</h3>
  {% if page.address_reference %}
  <p class="mb-5">Refererencia: {{ page.address_reference }}</p>
  {% endif %}
  <div class="row">

    {% if page.formatted_address %}
    
    <div class="row mt-5 ml-2">
      <iframe width="600" height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key={{ WAGTAIL_ADDRESS_MAP_KEY }}&q={{ page.formatted_address }}"
        allowfullscreen>
      </iframe>
    </div>
    {% endif %}

  </div>



  <!-- <div class="row">
    {% if page.formatted_address %}
    <a href="http://maps.google.com/?q={{ page.formatted_address }}">Abrir mapa con la dirección</a>
    {% endif %}
  </div>
  <div class="row mt-5 mb-5">
    {% if page.latlng_address %}
    <a href="http://maps.google.com/?q={{ page.latlng_address }}">Abri mapa (Lat / Long)</a>
    {% endif %}
  </div> -->

  <div class="row">
    <ul class="list-unstyled">
      {% for evento in iglesia_eventos %}
      <li class="media">
        {% image evento.evento_image fill-150x150 as evento_img %}
        <a href="{{ evento.url }}">
          <img src="{{ evento_img.url }}" class="mr-3" alt="{{ evento_img.alt }}">
        </a>
        <div class="media-body">
          <a href="{{ evento.url }}">
            <h5 class="mt-0 mb-1">{{ evento.title }}</h5>
          </a>
        </div>
      </li>
      <hr class="mt-4">
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock content %}