{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}


<div class="container mt-5 mb-5">

    
    <div class="text-center mt-10">
        <h1>Pastor {{ page.user.first_name }} 
            {% if page.user.profile.second_name %} 
            {{ page.user.profile.second_name }} {% endif %}
            {{ page.user.last_name }}
        </h1>
    </div>

    <div class="row mt-10 mb-5">
        <div class="col-md-6">
            
            <p>Iglesia: {{ page.iglesia }}</p>
            <p>{{ page.user.email }}</p>
            <p>{{ page.user.profile.phone_number }}</p>
            <p>Fecha de nacimiento: {{ page.user.profile.birthdate }}</p>
            <p>Esposa: {{ page.pastor_wife }}</p>
        </div>
        <div class="col-md-6">
        <img src="{{ pastor.profile.photo.url }}" class="" alt="..." width="400px"
        height="400px">
    </div>
  
    </div>
      


</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            {% for block in self.content %}
        {% include_block block %}
    {% endfor %} 
        </div>
    </div>
</div>


{% endblock content %}