

.mt-8 {
    margin-top: 8% !important;;
  }
  
  .mt-10 {
    margin-top: 10% !important;;
  }
  
  
  .mt-12 {
    margin-top: 12% !important;;
  }
  
  
  .mt-15 {
    margin-top: 15% !important;;
  }