{% extends "wagtailadmin/base.html" %}
{% load static wagtailadmin_tags i18n %}

{% block branding_favicon %}
<link rel="shortcut icon" href="{% versioned_static 'wagtailadmin/images/favicon.ico' %}" />
{# CSP meta tag to allow external resources - comprehensive for Wagtail admin #}
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self' data: http://www.gravatar.com https://www.gravatar.com https://secure.gravatar.com https: blob:; script-src 'self' 'unsafe-inline' 'unsafe-eval' https:; style-src 'self' 'unsafe-inline' https:; connect-src 'self' https: wss:; font-src 'self' https:; object-src 'self'; frame-src 'self' https:; media-src 'self' https:; worker-src 'self' blob:; form-action 'self';">
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/wagtail_admin.css' %}">
{% endblock %}
